<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Epilepsy Checker</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="/static/images/favicon.svg"
      type="image/svg"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/static/css/lineicons.css" />

    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <!--====== NAVBAR NINE PART START ======-->

    <section class="navbar-area navbar-nine">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <!-- <img src="assets/images/white-logo.svg" alt="Logo" /> -->
                <h2 style="color: white">Voice Authentication Tool</h2>
              </a>

              <div
                class="collapse navbar-collapse sub-menu-bar"
                id="navbarNine"
              >
                <ul class="navbar-nav me-auto">
                  <!-- <li class="nav-item">
                    <a class="page-scroll active" href="#hero-area">Home</a>
                  </li> -->
                </ul>
              </div>
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!-- Start header Area -->
    <section id="hero-area" class="header-area header-eight">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="header-content">
              <h1></h1>
              <p>Upload an audio file to determine whether its genuine or a spoof:</p>
              <div class="button">
                <form
                  id="upload-form"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <input
                    type="file"
                    name="image"
                    id="image-input"
                    class="form-control-file"
                    accept=".png, .jpg, .jpeg"
                  />
                </form>
                <div
                  class="glightbox video-button"
                  id="predict-btn"
                  style="padding: 50px"
                >
                  <span class="btn icon-btn rounded-full">
                    <i class="lni lni-play"></i>
                  </span>
                  <span class="text">Check Now</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12">
            <div class="header-image">
              <img
                id="imageWidget"
                src="/static//images/up_icon.png"
                alt=""
                style="width: 400px; height: 400px"
              />
            </div>
          </div>
        </div>

        <div id="loading">
          <center>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
            <div class="spinner-grow spinner-grow-sm text-success"></div>
            <div class="spinner-grow spinner-grow-sm text-info"></div>
          </center>
        </div>

        <div
          id="result"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
          "
        ></div>
      </div>
    </section>
    <!-- End header Area -->

    <!--====== js ======-->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script></script>
  </body>
</html>
